.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;  
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: red;
        color: $blanco;
    } 

    &.exito {
        background-color: $verde;
        color: $blanco;
    }

    
}


table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    color: $blanco;


    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla {
        width: 13rem;
    }

    .boton-rojo-block {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .boton-amarillo-block {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

.imagen-small {
    width: 20rem;
}